{% extends "base.html.twig" %}


{% block title %}Test{% endblock %}

{% block content %}
    <div id="header" class="carousel slide animated fadeIn" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#header" data-slide-to="0" class="active"></li>
            <li data-target="#header" data-slide-to="1"></li>
            <li data-target="#header" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item one active">
                <div class="container animated fadeInUp">
                    <div class="carousel-caption">
                      <h1>WELCOME!</h1>
                      <p class="lead margin-40">
                          <em>Welcome to Music and Film in Motion, a division of Cultural Industries Ontario North.</em>
                      </p>
                    </div>
                </div>
            </div>

            <div class="item two">
                <div class="container">
                    <div class="carousel-caption">
                        <h1>YOUR SHOOT STARTS HERE!</h1>
                        <p class="lead margin-40 partial-background">
                            <em>Northern Ontario's Film and Television Crew Database is up and running... Get on it!</em>
                        </p>
                        <a class="btn-main" href=""><i class="icon-chevron-right"></i> More</a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control hidden-xs" href="#header" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right carousel-control hidden-xs" href="#header" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div><!-- /.carousel -->
{#     {% placeholder "carousel" %} #}

    <section id="services" class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 service margin-30">
                    PLACEHOLDER
                </div>
                <div class="col-sm-3 service margin-30">
                    PLACEHOLDER
                </div>
                <div class="col-sm-3 service margin-30">
                    PLACEHOLDER
                </div>
                <div class="col-sm-3 service margin-30">
                    PLACEHOLDER
                </div>
            </div>
        </div>
    </section>

    <section id="social-aggregation-gallery" class="section">
    <div class="container">
        <div class="row">
			<script id="cr-init__8ceb65b152eb3f54" src="https://starling.crowdriff.com/js/crowdriff.js" async></script>
        </div>
    </div>
    </section>
    
    <section id="latest-work" class="section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 margin-40  text-center">
                    <h3>Featured</h3>
                </div>
            </div>

            <div class="row margin-40">
                <div class="col-sm-4">
                    <div class="thumbs">
                    PLACEHOLDER
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbs">
                    PLACEHOLDER
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="thumbs">
                    PLACEHOLDER
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="latest-news" class="section">
        <div class="container">
                    NEWS PLACEHOLDER
        </div>
    </section>
{% endblock %}
